.App {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   margin-bottom: 30px;
   text-align: center;
}

h1 {
   color: #3f729b;
}

.container-cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 4rem;
   justify-content: center;
   padding-left: 100px;
   padding-right: 100px;
}

@media only screen and (max-width: 1000px) {
   .container-cards {
      grid-template-columns: 1fr;
   }
}
